@media screen and (max-width: 1400px) {
    .hero {
        height: 600px;
    }

    .hero-sub {
        height: 600px;
    }
  .hero-text-inner {
    margin: 40px;
    margin-right: 40px;
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; */
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .btn {
        margin: 40px 40px;
        cursor: pointer;
        text-decoration: none;
    }

    .services-intro-inner {
        margin: 40px;
    }

    .what-we-bring-inner {
        margin: 40px;
    }

    .services-inner {
        margin: 40px;
    }

    .blog-text {
        margin: 40px 40px 0 40px;
    }

    .case-text {
        margin: 40px 40px 0 40px;
    }

    .testimonials-inner {
        margin: 40px;
    }

    .clients-logo {
        height: 100px;
        width: 100px;
    }

}

@media screen and (max-width: 1000px) {

  .hero-text-inner {
    margin: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; */
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .btn {
        margin: 20px;
    }

    .services-intro-inner {
        margin: 20px;
    }

    .what-we-bring-inner {
        margin: 20px;
    }

    .bring {
        gap: 10px;
    }

    .services-inner {
        margin: 20px;
    }

    .services-list {
        gap: 10px;
    }

.services-list button {
  padding: 0.5rem 0.75rem;
}

.services-list button p {
  font-size: 10px;
}

    .blog-text {
        margin: 20px 20px 0 20px;
    }

    .case-text {
        margin: 20px 20px 0 20px;
    }

    .testimonials-inner {
        margin: 20px;
    }

    .clients-logo {
        height: 100px;
        width: 100px;
    }

}

@media screen and (max-width: 900px) {
    .hero {
        margin-top: 70px;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 12px;
    }

    .hero-text-inner {
        margin: 10px;
    }

    .services-intro-inner p {
        font-size: 12px;
        margin: 20px 0 40px 0;
    }

} 

@media screen and (max-width: 800px) {
    
    .hero-text h1 {
        font-size: 34px;
    }

    .bring-title h4 {
        font-size: 16px;
        margin: 10px;
}

    .bring-title p {
        margin: 10px;
        font-size: 12px;
    }

    .bring-title {
        min-width: 50px;
    }

} 

@media screen and (max-width: 600px) {
    
    .hero {
        grid-template-columns: 1fr;
        position: relative;
    }

    .hero-sub  {
        width: 100%;
        height: 100%;
    }

    .hero-empty {
        position: absolute;
        z-index: 1;
        justify-content: center;
    }

    .hero-text {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    .hero-text-inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .hero-text p{
        text-align: center;
    }

    .bring {
        grid-template-columns: 1fr 1fr;
    }

    .what-we-bring-inner {
        margin: 10px;
    }

} 


@media screen and (max-width: 450px) {
    .hero {
        height: 400px;
    }

    .hero-sub {
        height: 400px;
    }
}