@media screen and (max-width: 1400px) {
  .logo {
    margin-left: 40px;
  }
  nav {
    margin-right: 40px;
  }

}

@media screen and (max-width: 1000px) {
  .logo {
    margin-left: 20px;
  }
  nav {
    margin-right: 20px;
  }

}

@media screen and (max-width: 900px) {
  header {
    height: 70px;
  }

  .logo {
    font-size: 40px;
  }

  nav {
    transition: all 0.3s ease-in-out;
  }
  
  .nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: var(--primary);
  /* z-index: 999; */
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  nav ul {
    margin: 100px 0 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 20px;
  }

}


@media screen and (max-width: 650px) {
  .logo {
    font-size: 36px;
  }

  .burger-menu {
    margin-right: 10px;
  }
}