header {
  /* background-color: var(--primary); */
  background-color: var(--bg-color);
  color: var(--bg-white);
  width: 100dvw;
  height: 100px;
  /* padding: 1rem 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
}

.logo {
  margin-left: var(--margin);
  font-size: 48px;
  font-weight: 600;
  z-index: 999;
}

nav {
  margin-right: var(--margin);
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav a {
  color: var(--bg-white);
  text-decoration: none;
  transition: var(--transition);
  font-size: 16px;
}

nav a:hover {
  color: var(--secondary);
}

.nav-menu a.active-nav {
  color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 10px;
}

.burger-menu {
  /* border: 2px solid white; */
  height: 40px;
  width: 40px;
  display: none;
  cursor: pointer;
  margin-right: var(--margin);
}

.burger-line {
  border-radius: 3px;
  width: 100%;
  height: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

/* .burger-menu.active {
  transform: translateX(20px);
} */

.burger-middle.active {
  opacity: 0;
}

.burger-top.active {
  transform: rotate(45deg) translateY(15px) translateX(10px);
}

.burger-bottom.active {
  transform: rotate(-45deg) translateY(-15px) translateX(10px);
}